# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Exports
exports/
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Environment
.env
.azure/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

