# Azure DevOps Pipeline for Terraform Export
# Exports Azure resources using aztfexport and pushes to git repositories
# Processes multiple subscriptions in parallel using separate jobs

trigger: none
pr: none

parameters:
  - name: subscriptionIds
    displayName: 'Subscription IDs (comma-separated) - Reference only'
    type: string
    default: ''
    # Note: This parameter is for reference only
    # Jobs must be manually defined in the jobs section below

variables:
  - group: 'TerraformExport'
  - name: configPath
    value: 'config/subscriptions.yaml'
  - name: outputDir
    value: '$(Pipeline.Workspace)/exports'
  - name: gitBranch
    value: 'main'
  - name: pushToRepos
    value: 'true'

stages:
  - stage: Export
    displayName: 'Terraform Export'
    pool:
      vmImage: 'ubuntu-latest'
    jobs:
      # Add jobs for each subscription - each job runs in parallel
      # Use the subscription-job.yml template for each subscription
      # Example:
      - template: azure-pipelines/templates/subscription-job.yml
        parameters:
          subscriptionId: 'sub-123'
          subscriptionName: 'Production Subscription 1'
          serviceConnection: 'spn-prod-subscription-123'
      
      - template: azure-pipelines/templates/subscription-job.yml
        parameters:
          subscriptionId: 'sub-456'
          subscriptionName: 'Production Subscription 2'
          serviceConnection: '$(azureServiceConnection)'
      
      # Add more template includes for additional subscriptions
      # Each job runs in parallel automatically

  - stage: EmailReport
    displayName: 'Send Email Report'
    dependsOn: Export
    pool:
      vmImage: 'windows-latest'
    jobs:
      - job: EmailReportJob
        displayName: 'Send Email Report'
        steps:
          - task: AzurePowerShell@5
            displayName: 'Send Terraform Backup Email Report'
            inputs:
              azureSubscription: '$(azureServiceConnection)'
              ScriptType: 'FilePath'
              ScriptPath: 'azure-pipelines/scripts/send-backup-report.ps1'
              ScriptArguments: >
                -LogAnalyticsWorkspaceId "$(LOG_ANALYTICS_WORKSPACE_ID)"
                -LogAnalyticsSharedKey "$(LOG_ANALYTICS_SHARED_KEY)"
                -SendGridApiKey "$(SendGridApiKey)"
                -SendGridFrom "$(SendGridFrom)"
                -SendGridTo "$(SendGridTo)"
                -EnvName "$(Environment)"
                -LookbackHours 24
              azurePowerShellVersion: 'LatestVersion'
            continueOnError: true
